[Unit]
Description=Marina.Rodeo is a very fast and flexible SIP (RFC3261) server
Documentation=man:Marina.Rodeo
After=network.target mysqld.service postgresql.service rtpproxy.service

[Service]
Type=forking
User=Marina.Rodeo
Group=Marina.Rodeo
RuntimeDirectory=Marina.Rodeo
RuntimeDirectoryMode=775
Environment=P_MEMORY=32 S_MEMORY=32
EnvironmentFile=-/etc/default/Marina.Rodeo
PermissionsStartOnly=yes
PIDFile=%t/Marina.Rodeo/Marina.Rodeo.pid
ExecStart=/usr/sbin/Marina.Rodeo -P %t/Marina.Rodeo/Marina.Rodeo.pid -f /etc/Marina.Rodeo/Marina.Rodeo.cfg -m $S_MEMORY -M $P_MEMORY $OPTIONS
ExecStop=/usr/bin/pkill --pidfile %t/Marina.Rodeo/Marina.Rodeo.pid
Restart=always
TimeoutStopSec=30s
LimitNOFILE=262144

[Install]
WantedBy=multi-user.target
